.root {
    -fx-background-color: #006400;
    -fx-font-family: "Consolas";
}

.label {
    -fx-text-fill: WHITE;
    -fx-stroke: BLACK;
    -fx-stroke-width: 2;
    -fx-font-size: 50px;
}

.button {
    -fx-background-color: WHITE;
    -fx-border-color: BLACK;
    -fx-font-weight: BOLD;
    -fx-border-width: 5 5 5 5;
    -fx-text-fill: BLACK;
    -fx-font-size: 20px;
    -fx-padding: 10 10 10 10;
    -fx-pref-height: 40px;
    -fx-pref-width: 60px;
}

.button:pressed {
    -fx-background-color: GREY;
    -fx-border-color: BLACK;
    -fx-font-weight: BOLD;
    -fx-border-width: 5 5 5 5;
    -fx-text-fill: BLACK;
}

.text-field {
    -fx-background-color: WHITE;
    -fx-border-color: BLACK;
    -fx-border-width: 5;
    -fx-font-size: 20px;
}
