.root {
    -fx-background-color: #006400;
}

.label {
    -fx-text-fill: WHITE;
    -fx-stroke: BLACK;
    -fx-stroke-width: 2;
    -fx-font-size: 50px;
}

.button {
    -fx-background-color: WHITE;
    -fx-border-color: BLACK;
    -fx-font-weight: BOLD;
    -fx-border-width: 5 5 5 5;
    -fx-text-fill: BLACK;
    -fx-font-size: 20px;
    -fx-padding: 30 30 30 30;
    -fx-pref-height: 28px;
    -fx-pref-width: 400px;
}

.button:pressed {
    -fx-background-color: RED;
    -fx-border-color: BLACK;
    -fx-font-weight: BOLD;
    -fx-border-width: 5 5 5 5;
    -fx-text-fill: BLACK;
    -fx-font-size: 20px;
    -fx-padding: 30 30 30 30;
    -fx-pref-height: 28px;
    -fx-pref-width: 400px;
}
