.root {
    -fx-background-color: DARKGREEN;
    -fx-font-family: "Consolas";
}

.label {
    -fx-text-fill: LINEN;
    -fx-font-size: 50px;
}

.header-label {
    -fx-font-size: 100px;
}

.name-label {
    -fx-font-size: 200px;
}

.small-label {
    -fx-font-size: 30px;
}

.score-hbox .label {
    -fx-font-size: 40px;
}

.button {
    -fx-font-size: 20px;
}

.ok-button {
    -fx-pref-width: 150px;
    -fx-pref-height: 30px;
    -fx-padding: 30 30 30 30;
    -fx-border-color: BLACK;
    -fx-border-width: 5 5 5 5;
    -fx-font-weight: BOLD;
    -fx-text-fill: BLACK;
    -fx-background-color: LINEN;
}

.menu-button {
    -fx-border-color: BLACK;
    -fx-border-width: 5 5 5 5;
    -fx-font-weight: BOLD;
    -fx-text-fill: BLACK;
    -fx-background-color: LINEN;
    -fx-padding: 30 30 30 30;
    -fx-pref-height: 28px;
    -fx-pref-width: 400px;
}

.return-button {
    -fx-font-size: 20px;
    -fx-background-color: DARKGREEN;
    -fx-text-fill: LINEN;
    -fx-padding: 0 0 0 0;
    -fx-pref-height: 28px;
    -fx-pref-width: 130px;
}

.return-button:pressed {
    -fx-background-color: DARKGREEN;
    -fx-text-fill: #f7e7d4;
}

.minigame-choice-button {
    -fx-border-color: BLACK;
    -fx-border-width: 5 5 5 5;
    -fx-font-weight: BOLD;
    -fx-text-fill: BLACK;
    -fx-padding: 5 5 10 10;
    -fx-margin: 5 5 10 10;
    -fx-pref-height: 30px;
    -fx-pref-width: 200px;
}

.minigamechoice-button-active {
    -fx-background-color: LINEN;
}

.minigamechoice-button-inactive {
    -fx-background-color: DIMGRAY;
}

.menu-button:pressed {
    -fx-background-color: #f7e7d4;
}

.minigame-choice-button:pressed {
    -fx-background-color: #f7e7d4;
}

.endgame-button {
    -fx-border-color: BLACK;
    -fx-border-width: 5 5 5 5;
    -fx-font-weight: BOLD;
    -fx-text-fill: BLACK;
    -fx-pref-width: 150px;
    -fx-pref-height: 30px;
}

.endgame-button:pressed {
    -fx-background-color: #f7e7d4;
}

.text-field {
	-fx-accent: DIMGRAY;
	-fx-text-fill: LINEN;
	-fx-font-size: 30px;
	-fx-background-color: BLACK, DARKGREEN;
	-fx-background-insets: 0, 0 0 2 0;
	-fx-background-radius: 0;
	-fx-min-width: 500px;
}

.card {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}
